Package: com.amywhile.macspoof
Name: MacSpoof
Version: 0.2.1
Architecture: iphoneos-arm
Description: Spoof Mac Address on iOS
Maintainer: Amy While
Author: Amy While
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware(>=14.0)
