<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>To apply new MAC Address, toggle Private Address for the Network in Wi-Fi Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.amywhile.macspoof</string>
			<key>key</key>
			<string>GlobalEnable</string>
			<key>label</key>
			<string>Tweak Enbaled</string>
			<key>PostNotification</key>
			<string>com.amywhile.macspoof.update</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>WiFiNetworkViewController</string>
			<key>key</key>
			<string>wifiNetworks</string>
			<key>label</key>
			<string>WiFi Networks</string>
			<key>isController</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>MacSpoof</string>
</dict>
</plist>
